@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h2 class="display-4">How to use :</h2>
    <ul class="list-group">
        <li class="display-6 list-group-item">Go to Table page for Stock Tables</li>
        <li class="display-6 list-group-item">Go to Graphs page for Graphs</li>
    </ul>
</div>